/* ----------------------------------- */
/* yodatepicker-multi.css              */
/*                                     */
/* Styles for a multiple month display */
/* ----------------------------------- */

.yo-container {    /* .jrdp_calendar_pos */
    position: absolute;
    display: inline-block;
    z-index: 9999;
}

.yo-container-multi {    /* .jrdp_calendar_pos_multi */
    position: absolute;
    z-index: 9999;
}

.yo-content {  /* .jrdp_encapsulated_table */
    /* all datepickers are encapsulated within this class */
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    border: 1px solid #c3c3c3;
    border-spacing: 0;
}

.yo-calendar-multi {    /* .jrdp_calendar_multi */
    /* main multi month style */
    border: 1px solid #c0c0c0;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    display: inline-block;
}

.yo-calendar-title-bar-multi {    /* .jrdp_calendar_tbar_multi */
    /* top title bar */
    background-color: #d94867;
}

.yo-calendar-month-multi {    /* .jrdp_calendar_month_multi */
    /* style for the month name */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    height: 30px;
    text-decoration: none;
    text-align: center;
}

.yo-previous-month-multi {    /* .jrdp_calendar_month_prev_multi { */
    /* style for the previous button */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding-left: 4px;
}

.yo-previous-month-multi:hover {    /* .jrdp_calendar_month_prev_multi:hover */
    background-color: #00aa88;
}

.yo-next-month-multi {    /* .jrdp_calendar_month_next_multi */
    /* style for the next button */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding-right: 4px;
}

.yo-next-month-multi:hover {    /* .jrdp_calendar_month_next_multi:hover */
    background-color: #00aa88;
}

.yo-calendar-dow-title-multi {    /* .jrdp_calendar_days_multi */
    /* style for the day of the week abbrevations */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #396221;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.yo-datepicker-day-empty-multi {    /* .jrdp_calendar_day2_multi */
    /* style for an empty cell */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
}

.yo-datepicker-day-multi {    /* .jrdp_calendar_day1_multi */
    /* style for a cell that has a day and is selectable */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.yo-datepicker-day-multi:hover {    /* .jrdp_calendar_day1_multi:hover */
    background-color: #ffff99;
    cursor: pointer;
}

.yo-datepicker-day-noselect-multi {    /* .jrdp_calendar_day1_noselect_multi */
    /* style for a cell that has a day and is not selectable */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
}

.yo-datepicker-day-noselect-multi:hover {    /* .jrdp_calendar_day1_noselect_multi:hover */
    background-color: #c0c0c0;
}

.yo-datepicker-day-current-multi {    /* .jrdp_calendar_current_day_multi */
    /* style for the current day */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: #b5dce5;
    height: 16px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.yo-datepicker-day-current-multi:hover {    /* .jrdp_calendar_current_day_multi:hover */
    background-color: #ffff99; cursor: pointer;
}

