/* -------------------------------------------------------------------- */
/* jrDatePicker.css                                                     */
/*                                                                      */
/* There are two different types of datepickers that can be display and */
/* therefore styling of each: single and multi.  A 'single" datepicker  */
/* displays only one month.  A 'multi' datepicker can display multiple  */
/* months.  All of the class names below are required for styling.      */
/* -------------------------------------------------------------------- */

.jrdp_encapsulated_table {
    /* all datepickers are encapsulated within this class */
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    border: 1px solid #c3c3c3;;
}

.jrdp_calendar {
    /* main calendar style */
    border: 1px solid #5b5138;
    width: 200px;
    margin: 0;
    padding: 0;
}

.jrdp_calendar_pos {
    position: absolute;
    display: inline;
    z-index: 9999;
}

.jrdp_calendar_tbar { 
    /* top title bar */
    background-color: #c0c0c0;
}

.jrdp_calendar_close_btn {
    /* close button displayed in top title bar (not used if close_onselect option is false) */
    /*
    background-color: #343434;
    width: 24px;
    height: 23px;
    display: block;
    float: right;
    -moz-border-radius: 12px;
    border-radius: 12px;
    top: -12px;
    right: -12px;
    position:absolute;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 1px;
    */
}

.jrdp_calendar_close_btn:hover { cursor: pointer; }

.jrdp_calendar_month_tbar { 
	background-color: #E3E3E3; 
	border-bottom: 1px solid #C3C3C3;
}

.jrdp_calendar_month {
    /* style for month name */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    font-style: normal;
    font-weight: bold;
    color: #343434;
    text-decoration: none; 
    /*text-transform: uppercase; */
}

.jrdp_calendar_month_prev {
    /* style for the previous button */
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 18px; 
    font-style: normal;
    font-weight: bold;
    color: #343434;
    text-decoration: none;
    cursor: pointer;
    /*padding: 4px 7px 4px 12px; */
    text-align: center;
}

.jrdp_calendar_month_next {
    /* style for the next button */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px; 
    font-style: normal;
    font-weight: bold;
    color: #343434;
    text-decoration: none;
    cursor: pointer;
    /*padding: 4px 12px 4px 7px; */
    text-align: center;
}

.jrdp_calendar_month_prev:hover { background-color: #c3c3c3; }
.jrdp_calendar_month_next:hover { background-color: #c3c3c3; }

.jrdp_calendar_days {
    /* style for the day of the week abbrevations */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    font-weight: bold; 
    color: #ffffff; 
    text-decoration: none; 
    background-color: #343434;
    width: 20px;
    height: 21px;
    text-align: center;
	border-bottom: 1px solid #C3C3C3;
}

.jrdp_calendar_current_day {
    /* style for the current day */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: normal;
    color: #343434;   
    text-decoration: none; 
    background-color: #b5dce5;
    height: 16px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.jrdp_calendar_current_day:hover { background-color: #ffff99; cursor: pointer; }

.jrdp_calendar_day1 {
    /* style for a cell that has a day and is selectable */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: normal;
    color: #7A7A7A;   
    text-decoration: none; 
    background-color: #ffffff;
    width: 24px;
    text-align: center;
    cursor: pointer;
	line-height: 2em;
}

.jrdp_calendar_day1:hover {
    background-color: #ffff99;
    cursor: pointer;
}

.jrdp_calendar_day1_noselect {
    /* style for a cell that has a day and is not selectable */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: normal;
    color: #C1C1C1;   
    text-decoration: none; 
    background-color: #ffffff;
    width: 20px;
    text-align: center;
	line-height: 2em;
}

.jrdp_calendar_day1_noselect:hover {
    background-color: #EAEAEA;
}

.jrdp_calendar_day2 {
    /* style for an empty cell */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 5px; 
    font-style: normal; 
    font-weight: normal;
    color: #000000;   
    text-decoration: none; 
    background-color: #ffffff;
    height: 0px;
    width: 20px;
    text-align: center;
}

.jrdp_calendar_icon {
    /* style for a datepicker icon; used in html and is thus optional */
    cursor: pointer;
    border-width: 0px;
    height: 13px;
    width: 13px;
}


/* ----------------------------------- */
/* Styles for a multiple month display */
/* ----------------------------------- */

.jrdp_calendar_multi {
    /* main multi month style */
    border: 1px solid #0000ff;  
    width: 400px;
    margin: 0;
    padding: 0;
}

.jrdp_calendar_pos_multi {
    position: absolute;
    z-index: 99;
}

.jrdp_calendar_tbar_multi {
    /* top title bar */
    background-color: #d94800;
}

.jrdp_calendar_close_btn_multi {
    /* close button displayed in top title bar (not used if close_onselect option is false) */
    background: url('close_button_01.jpg') no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    float: right;
}

.jrdp_calendar_close_btn_multi:hover { cursor: pointer; }

.jrdp_calendar_month_tbar_multi {
    /* title bar where the month name and next / previous buttons are displayed */ 
    background-color: #64d7f5;
}

.jrdp_calendar_month_multi {
    /* style for the month name */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal;
    font-weight: normal;
    color: #000000;
    height: 30px;
    text-decoration: none; 
}

.jrdp_calendar_month_prev_multi {
    /* style for the previous button */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding-left: 4px; 
}

.jrdp_calendar_month_next_multi {
    /* style for the next button */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding-right: 4px;
}

.jrdp_calendar_month_prev_multi:hover { background-color: #ffffff; }
.jrdp_calendar_month_next_multi:hover { background-color: #ffffff; }

.jrdp_calendar_days_multi {
    /* style for the day of the week abbrevations */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: italic; 
    font-weight: bold; 
    color: #ffffff; 
    text-decoration: none; 
    background-color: #396221;
    width: 40px;
    height: 40px;
    text-align: center;
}

.jrdp_calendar_current_day_multi {
    /* style for the current day */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: normal;
    color: #000000;   
    text-decoration: none; 
    background-color: #b5dce5;
    height: 16px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.jrdp_calendar_current_day_multi:hover { background-color: #ffff99; cursor: pointer; }

.jrdp_calendar_day1_multi {
    /* style for a cell that has a day and is selectable */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: normal;
    color: #000000;   
    text-decoration: none; 
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.jrdp_calendar_day1_multi:hover {
    background-color: #ffff99;
    cursor: pointer;
}

.jrdp_calendar_day1_noselect_multi {
    /* style for a cell that has a day and is not selectable */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: normal;
    color: #000000;   
    text-decoration: none; 
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
}

.jrdp_calendar_day1_noselect_multi:hover {
    background-color: #c0c0c0;
}

.jrdp_calendar_day2_multi {
    /* style for an empty cell */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: normal;
    color: #000000;   
    text-decoration: none; 
    background-color: #f3e1a5;
    height: 40px;
    width: 40px;
    text-align: center;
}

.jrdp_calendar_icon_multi {
    /* style for a datepicker icon; used in html and is thus optional */
    cursor: pointer;
    border-width: 0px;
    height: 13px;
    width: 13px;
}
